div {
    border: 1px solid blue;
    margin: 15px;
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}

div p {
    background-color: blue;
    width: 6%;
    height: 50px;
    margin: 50px 0px;
    justify-content: space-evenly;
}

.red {
    background-color: red;
}

.red p {
    background-color: purple;
}